@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --red: rgb(228, 52, 20);
  --white: rgb(251, 247, 245);
  --gray: rgb(192, 192, 192);
  --black: rgb(54, 69, 79);
  --blue: rgb(85, 198, 193);
  --avatarDimensions: 50px;

}

body {
  font-family: Quicksand, sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.container {
  display: flex;
  margin-top: 10px;
}

.others {
  flex: 4;
  background-color: var(--blue);
}